body {
margin: 0 50% 0 0;
} 
  table {
  border-collapse: collapse;
  width: 50%;
  width: 100%;
  background-color: #000000;
  color: #9a9a9a;
  font-size: 135%;
  font-family: 'Staatliches', cursive;
}
table a {
	border: 0.5px solid transparent;
		border-radius: 100%;
	padding: 1px;
text-decoration: none;
color: #ffffff;
}
table a:hover {
border-color: white;
}

th, td {
  text-align: center;
  padding: 8px;
}
th {
letter-spacing: 0.8px;
}

tr:nth-child(4n) {background-color: #313131;}
tr:nth-child(4n+1) , tr:nth-child(4n+3) {background-color: #000000;}
tr:nth-child(4n+2) {background-color: #1b1b1b;}